body {
	border: 3px solid #91d18b;
	padding: 50px;
}

.container-fluid{
	padding: 3% 15% 7%;
}

.navbar {
	padding: 0 0 4.5rem;
	margin-bottom: 35px;
}

.navbar-brand {
	padding-left: 1rem;
	font-family: "Florence, cursive;";
	font-size: 3rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-family: "Montserrat-light";
}

.q1 {
	font-family: "Ubuntu";
	font-size: 21px;
	margin-top: 40px;
	margin-left: -20px;
}

.a1 {
	margin-top: 20px;
	margin-left: -15px;
	font-size: 21px;
}

#q1btn {
	color: #9d65c9;
	background-color: #fff;
	border: 1px solid #9d65c9;
	border-radius: 8px;
	margin: 15px 10px;
	padding: 5px;
	font-size: 12px;
	transition: 0.3s;
	cursor: pointer;
}

#q1btn:hover {
	color: #fff;
	background-color: #9d65c9;

}

#q1more {
	display: none;
	margin-left: 50px;
	font-family: "Montserrat-Bold";
	font-size: 20px;
}